/* start the general style */
*{
    box-sizing: border-box;

}
.container{
    width: 1200px;
    margin: auto;
}
.text-center{
    text-align: center;
}
/* end the general style */

.header-title{
    margin: 40px 0 40px 0;
}

.box{
    border: 1px solid #000;
    text-align: justify;
    padding: 20px;
    float: left;
    margin: 10px;
    background: lightgrey;
    position: relative;
    padding: 44px 21px 20px 20px;

}
.box .title{
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #000;
}
.box .chicken{
    background: pink;
}
.box .beef{
    background: red;
    color: #fff;
}
.box .sushi{
    background: #ffff80;
}
.box .title h3{
    margin: 0;
    padding: 7px 30px 7px 30px;
}

.box p{
    width: 100%;
    margin: 0;
}

@media (min-width: 992px) {
    .box{
        width: 30.33%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .box1, .box2{
        width: 47%;
    }

    .box3{
        width: 97% !important;
    }
}
@media (max-width: 767px) {
    .box{
        width: 97%;
    }
}
